<p>
    <% if (locals.user && (locals.user.id == comment.user.id ||  locals.user.id == post.user.id)) { %>
        <a href="/comments/destroy/<%= comment.id %>">x</a>
    <% } %>
    <%= comment.content %>
    <br>
    <small>
        <%= comment.user.name %>
    </small>
</p>