<header>
    <nav>
        <span id="logo">
            codeial
        </span>
        <ul>
            <% if(locals.user) { %>
                <li class="signed-in">
                    <a href="/users/profile/<%=user.id%>">
                        <%= user.name %>
                    </a>
                </li>
                <li class="signed-in">
                    <a href="/users/sign-out">Sign Out</a>
                </li>
            <%} else {%>
    
                <li class="signed-out">
                    <a href="/users/sign-in">Sign In</a>
                </li>
    
                <li class="signed-out">
                    <a href="/users/sign-up">Sign Up</a>
                </li>
    
            <% } %>
        </ul>
    </nav>
</header>