<link rel="stylesheet" href="/css/user_log_in.css">
<div id="logIn-page">
    <img src="/images/logo.png" alt="logo">
    <form action="/users/create-session" method="post">
        <div id="login-email">
            <input type="email" name="email" placeholder="Email" required>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password" required>
        </div>

        <div>
            <input type="submit" value="Log In">
        </div>
    </form>
</div>
