footer {
  background-color: grey;
  height: 15vh;
  font-family: sans-serif;
  font-size: 1.1rem;
  padding: 1%; }
  footer ul {
    list-style: none;
    display: flex;
    padding: 0;
    flex-direction: column; }
    footer ul li {
      margin: 0 2% 1% 2%; }
      footer ul li a {
        text-decoration: none;
        color: white; }
